body {
    background-color: #111;
    color: #eee;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
}

p {
    font-size: 1.2em;
    margin: 20px 0;
}

.proximo {
    font-size: 1em;
    color: #aaa;
}